body {
    height: 100vh;
    margin: 0;
}

#app {
    height: 100vh;
    margin: 0; 
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 60px 1fr;
    grid-template-areas: 
    "sidebar header"
    "sidebar main";
}

.header {
  background-color: #fff;
  grid-area: header;
}

.sidebar {
  background-color: #1c1f23;
  grid-area: sidebar;
}

.main {
  background-color: #c3c5ca;
  grid-area: main;
}